version: 2
jobs:
  build:
    branches:
      ignore:
        - master
        - develop
        - /feature-.*/
        
    docker:
      - image: circleci/node:11.9.0

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: echo $SERVICE_ACCOUNT | base64 --decode > ${HOME}/serviceAccountKey.json
      - run: echo ${HOME}
      - run: pwd
      - run: npm run deploy:ci